*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    min-height: 100vh;
}
#top{
    width: 100%;
    min-height: 60vh;
    background-image: url(https://images.unsplash.com/reserve/aOcWqRTfQ12uwr3wWevA_14401305508_804b300054_o.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1776&q=80);
    background-size: cover;
    background-position: center;   
}
#overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(239, 217, 217, 0.293);
}
#text{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20%;
    width: 100%;
    padding: 0 10vw;
}
#textright{
    align-items: center;
    display: flex;
    width: 60%;
    justify-content: space-between;
}

#textright p{
    font-size: 12px;
    width: 40%;
}
#textright i{
    color: white;
}

#text h1{
    font-weight: 500;
    font-size: 6vw;
}
#bottom{
    width: 100%;
    min-height: 40vh;
    background-color: blue;
    display: flex;
}
#bone{
    width: 25%;
    min-height: inherit;
    padding: 30px;
    background-color: #fff;
}
#bone p{
    font-size: 14px;
    margin-top: 20px;
}
#btwo{
    width: 25%;
    min-height: inherit;
    background-image: url(https://images.unsplash.com/photo-1693934189611-cfba028d2225?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: center;
}
#bthree{
    width: 20%;
    min-height: inherit;  
}
#bthreetop{
    width: 100%;
    height: 50%;
    padding: 20px;
    color: #fff;
    background-color: orangered;
}
#bthree p{
    font-size: 10px;
    margin-top: 10px;
}

#bthreebottom{
    width: 100%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1557941760-987c3f403d5a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1945&q=80);
    background-size: cover;
    background-position: center;
}

#bfour{
    width: 30%;
    min-height: inherit;
    padding: 30px;
    background-color:#444;
    color: #fff;
}
.notif{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.notif #photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
}

.notif p{
    width: 86%;
    font-size: 12px;
}


